

.header {
  background-color: #FFFFFF;
  height: 80px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
}

.applyNow {
  background-color: #77001e;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  padding: 10px;
  color: #FFFFFF;
  transition: transform .2s ease-in-out;
}

.applyNow:hover {
  background-color: #890022;
  transform: scale(1.01);
}

.headerLinks {
  font-size: 1em;
  font-weight: 500;
}